# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database
database/kakei.db

# User Outputs & Exports
outputs/*.csv

# IDE / Editor folders
.vscode/
.idea/

# Local configuration / API keys
.env

# Uploaded receipts
receipts/
